<% chats.each do |chat| %>
  <% if chat.user_id == current_user.id %>
    <p class="text-right"><%= chat.message %></p>
  <% else %>
    <p class="text-left"><%= chat.message %></p>
  <% end %>
<% end %>